<md-dialog aria-label="Keep It" ng-cloak style="max-width:800px; max-height:810px; width:85%;">
    <form name="addStoreForm" ng-submit="addStore(store)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Añadir nueva tienda</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/close.svg" aria-label="Cerrar diálogo"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Nombre</label>
                    <input ng-model="store.name">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Descripción</label>
                    <textarea ng-model="store.description" columns="1" md-maxlength="150" rows="5"></textarea>
                </md-input-container>
                <md-input-container>
                    <label>Longitud</label>
                    <input ng-model="store.location.coordinates[0]">
                </md-input-container>
                <md-input-container>
                    <label>Latitud</label>
                    <input ng-model="store.location.coordinates[1]">
                </md-input-container>
                <center>
                    <md-button class="md-fab md-mini md-secondary">
                        <md-icon md-svg-src="img/icons/send.svg" aria-label="send"></md-icon>
                    </md-button>
                </center>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
